{% set header_catlink = theme.settings.get('header_catlink') %}
{% set show_header_catlink = theme.settings.get('show_header_catlink') %}

{% if show_header_catlink and header_catlink|length %}
      <ul class="hidden md:flex">
        {% for item in header_catlink %}
          <li class="hidden md:flex text-sm font-bold">
              {% set item_title = item.catlink_text %}
              {% if item_title is iterable %}
                {% set item_title = item_title[user.language.code]|default(item_title|first) %}
              {% endif %}

                <a href="{{item.catlink_url}}" class="px-4 py-5">
                  {{ item_title }}
                </a>
          </li>
        {% endfor %}
      </ul>
{% endif %}
